.afftitres{
    background-color : #a4bfb6; 
    border : solid; 
    overflow:scroll; 
    height:100%"
}

.affsummary{
    background-color : white; 
    border : solid; 
    padding: 20px; 
    overflow:scroll; 
    height:100%"
}